[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
pyyaml = "*"
pyaml = "*"
tabulate = "*"
pyserial = "*"
psutil = "*"
anytree = "*"
ply = "*"
pykwalify = "*"
pyelftools = "*"
intelhex = "*"
packaging = "*"
cmake = "*"

[requires]
python_version = "3.8"
